.title {
	font-family: Clearface Black SSi;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	text-align: center;

	color: #FFFFFF;
}

.section {
	background-color: rgba(33, 33, 33, 0.1);
	padding-top: 20px;
	padding-bottom: 20px;
}