.App {
  text-align: center;
  background-color: #80ADD6;
  z-index: -999;
  display: block;
}

.DB-Logo {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: auto;
  width:80px;
}

body {
  /*background-color: rgb(128, 173, 214);*/
}
@media (max-width: 768px) {
  #Explainer_Section {
    font-size: 20px !important;
    padding: 50px !important;
  }
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("./images/landing_background.png");
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.InfoBox {
  position: absolute;
  width: 421px;
  height: 47px;
  left: 41px;
  top: 23px;
  text-align: left;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #DCBD9E;
}

.ByDB {
  position: absolute;
  width: 402px;
  height: 47px;
  left: 21px;
  top: 84px;

  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: right;

  color: #DCBD9E;
}

.TwentyTwenty {
  position: absolute;
  width: 131px;
  height: 75px;
  left: 41px;
  top: 71px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #DCBD9E;
}

.Title {
  text-align: center;
  align-items: center;

  margin: auto;
  font-family: Clearface Black SSi;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 140px;
  color: #FFFFFF;
  text-shadow: 4px 4px 0px #588BB8;
}

.Illo-Credit {
  position: absolute;
  
  right:80px;
  bottom: 5px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.02em;

  color: #B49A81;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .InfoBox {
    font-size: 28px;
    width: 421px;
    height: 30px;
    left: 41px;
    top: 23px;
  }
  .ByDB {
    font-size: 20px;
    width: 280px;
    height: 47px;
    left: 21px;
    top: 75px;
  }
  .TwentyTwenty {
    font-size: 35px;
    width: 131px;
    height: 60px;
    left: 41px;
    top: 60px;
  }
  .Title {
    font-size: 80px;
    line-height: 90px;
  }
  .Illo-Credit {
    color: #ffff;
  }
}